/* General */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1f1f1f;
    color: #e4e4e4;
}

h1, p {
    color: #fff;
}

.text-muted {
    color: #adb5bd !important;
}

/* Imagen Poster */
img.shadow-lg {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    max-width: 100%;
}

/* Thumbnail Video */
.position-relative img {
    filter: brightness(0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.btn-dark {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-weight: bold;
}

.btn-dark:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

/* Botón Añadir */
.btn-warning {
    color: #000;
    font-weight: bold;
}

.btn-warning:hover {
    background-color: #e0a800;
}

/* Badges */
.badge {
    font-size: 0.9rem;
    margin-right: 5px;
}

/* Enlaces */
a.text-info {
    text-decoration: none;
    font-weight: 500;
}

a.text-info:hover {
    color: #0dcaf0;
}

.text-light:hover {
    color: #ffc107 !important;
}

/* Footer Redes Sociales */
i.bi {
    transition: color 0.3s ease;
}

i.bi:hover {
    color: #ffc107;
}
